@import '_normalize.scss';

$font-family-primary: Lato, sans-serif;

$color-primary: rgba(255,51,0,0.95);

body {
  font-family: $font-family-primary;
}

.header {
  color: #fff;
  background-color: $color-primary;

  &--logo, &--navigation, &--nav-item {
    display: inline-block;
  }
}
