@import '_normalize.scss'; // test

$font-family-primary: Lato, sans-serif;

$color-primary: rgba(255,51,0,0.95);

body {
  font-family: $font-family-primary;
}

.header {
  background-color: $color-primary;

  &--logo {
    text-decoration: none;
    font-weight:bold;
  }

  &--logo, &--navigation, &--nav-item {
    display: inline-block;
    color: #fff;
  }
}
